In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
# loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [4]:
# first 5 rows of the dataset
credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [5]:
credit_card_data.tail()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
61486  49862 -0.987401  1.056011  1.184880  ...  0.190307  0.104660    1.00    0.0
61487  49862  0.910338 -0.976578  1.308543  ...  0.114948  0.054243  129.50    0.0
61488  49863  1.033813 -0.261495  1.329732  ...  0.082915  0.031702   22.02    0.0
61489  49863  1.446884 -0.263871 -0.192448  ... -0.026795  0.002982   15.00    0.0
61490  49863 -1.256173  0.190250  0.486835  ... -0.117240  0.287411     NaN    NaN

[5 rows x 31 columns]

In [6]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61491 entries, 0 to 61490
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    61491 non-null  int64
 1   V1      61491 non-null  float64
 2   V2      61491 non-null  float64
 3   V3      61491 non-null  float64
 4   V4      61491 non-null  float64
 5   V5      61491 non-null  float64
 6   V6      61491 non-null  float64
 7   V7      61491 non-null  float64
 8   V8      61491 non-null  float64
 9   V9      61491 non-null  float64
 10  V10     61491 non-null  float64
 11  V11     61491 non-null  float64
 12  V12     61491 non-null  float64
 13  V13     61491 non-null  float64
 14  V14     61491 non-null  float64
 15  V15     61491 non-null  float64
 16  V16     61491 non-null  float64
 17  V17     61491 non-null  float64
 18  V18     61491 non-null  float64
 19  V19     61491 non-null  float64
 20  V20     61491 non-null  float64
 21  V21     61491 non-null  float64
 22  V22     61491 non-null  float64
 23  V23     61491 non-null  float64
 24  V24     61491 non-null  float64
 25  V25     61491 non-null  float64
 26  V26     61491 non-null  float64
 27  V27     61491 non-null  float64
 28  V28     61491 non-null  float64
 29  Amount  61490 non-null  float64
 30  Class   61490 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 14.5 MB

In [7]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    1
Class     1
dtype: int64

In [8]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    61327
1.0      163
Name: Class, dtype: int64

In [9]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [10]:
print(legit.shape)
print(fraud.shape)

(61327, 31)
(163, 31)

In [11]:
# statistical measures of the data
legit.Amount.describe()

count    61327.000000
mean        95.440607
std        268.755957
min          0.000000
25%          7.680000
50%         26.050000
75%         87.500000
max      19656.530000
Name: Amount, dtype: float64

In [12]:
fraud.Amount.describe()

count     163.000000
mean       93.113006
std       224.038967
min         0.000000
25%         1.000000
50%         4.560000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [14]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    32324.644936 -0.219130 -0.022741  ...  0.000884  0.004422  95.440607
1.0    28708.325153 -7.056144  5.067518  ...  0.560332  0.035769  93.113006

[2 rows x 30 columns]

In [13]:
legit_sample = legit.sample(n=492)

In [15]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [16]:
new_dataset.head()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
20491  31078  0.970161 -0.414160  0.611036  ...  0.051399 -0.007850   29.45    0.0
16402  27774  1.125891  0.191127  0.268808  ...  0.004900  0.013394    1.78    0.0
7721   10744 -1.052867  0.326886  1.789434  ... -0.104999 -0.039304   53.90    0.0
4250    3754  1.380045 -0.719042 -0.927466  ... -0.022014  0.017361   52.99    0.0
50302  44429 -0.822374  1.083371  2.071878  ... -0.420448 -0.389704   81.87    0.0

[5 rows x 31 columns]

In [17]:
new_dataset.tail()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
57470  47923  0.364377  1.443523 -2.220907  ...  0.539668  0.296918    0.76    1.0
57615  47982 -1.232804  2.244119 -1.703826  ...  0.466031  0.250134    0.76    1.0
58422  48380 -2.790771 -1.464269  1.031165  ...  0.060540  0.356958  208.58    1.0
58761  48533  1.243848  0.524526 -0.538884  ...  0.045917  0.040136    1.00    1.0
59539  48884 -2.139051  1.394368 -0.612035  ... -0.405814 -0.152171   19.73    1.0

[5 rows x 31 columns]

In [18]:
new_dataset['Class'].value_counts()

0.0    492
1.0    163
Name: Class, dtype: int64

In [19]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    32700.682927 -0.131509 -0.008960  ...  0.014895  0.034363  90.269533
1.0    28708.325153 -7.056144  5.067518  ...  0.560332  0.035769  93.113006

[2 rows x 30 columns]

In [20]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [21]:
print(X)

        Time        V1        V2  ...       V27       V28  Amount
20491  31078  0.970161 -0.414160  ...  0.051399 -0.007850   29.45
16402  27774  1.125891  0.191127  ...  0.004900  0.013394    1.78
7721   10744 -1.052867  0.326886  ... -0.104999 -0.039304   53.90
4250    3754  1.380045 -0.719042  ... -0.022014  0.017361   52.99
50302  44429 -0.822374  1.083371  ... -0.420448 -0.389704   81.87
...      ...       ...       ...  ...       ...       ...     ...
57470  47923  0.364377  1.443523  ...  0.539668  0.296918    0.76
57615  47982 -1.232804  2.244119  ...  0.466031  0.250134    0.76
58422  48380 -2.790771 -1.464269  ...  0.060540  0.356958  208.58
58761  48533  1.243848  0.524526  ...  0.045917  0.040136    1.00
59539  48884 -2.139051  1.394368  ... -0.405814 -0.152171   19.73

[655 rows x 30 columns]

In [22]:
print(Y)

20491    0.0
16402    0.0
7721     0.0
4250     0.0
50302    0.0
        ...
57470    1.0
57615    1.0
58422    1.0
58761    1.0
59539    1.0
Name: Class, Length: 655, dtype: float64

In [23]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [24]:
model = LogisticRegression()

In [25]:
model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [26]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [27]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9713740458015268

In [28]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [29]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9541984732824428